<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/4ceae889-141c-4c23-80bf-68cc5023dc93/resourceGroups/checklist-rg/providers/Microsoft.ContainerRegistry/registries/checklistcr</ResourceId>
    <ResourceName>checklistcr</ResourceName>
    <ResourceGroup>checklist-rg</ResourceGroup>
    <Subscription>Azure Pass - Sponsorship</Subscription>
    <RegistryUrl>https://checklistcr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c44f68e6-4dc0-49d0-8889-a905fd708f72</ProjectGuid>
  </PropertyGroup>
</Project>